body {
	font-size: 16px;
	color: #ffbb00;
	background-color: #000000;
	letter-spacing: 1px;
}

.overlay
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation
{
	z-index: 6;
}

.titleMessage
{
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 5;
	text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p
{
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0 ,0 ,0 , 0.4);
	font-weight: 100;
	letter-spacing: 7px;
}

.titleMessage .heading .main
{
	font-size: 100px;
	font-weight: Bold;
	color: #ffbb00;
}

.titleMessage .heading .sub
{
	font-size: 23px;
	font-weight: 500;
	color: #ffffff;
}

.aboutSection
{
	background-color: #000000;
	color: #fff;
	padding: 50px 10px;
	margin:0 -15px;
	text-align: left;
}

.aboutImage
{
	width: 100% ;
}

/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/
.about h3 {
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 20px;
	font-family: var(--font-secondary);
}

.about .call-us {
	left: 10%;
	right: 10%;
	bottom: 0;
	background-color: #fff;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
	padding: 20px;
	text-align: center;
}

.about .call-us h4 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 5px;
}

.about .call-us p {
	font-size: 28px;
	font-weight: 700;
	color: var(--color-primary);
}

.about .content ul {
	list-style: none;
	padding: 0;
}

.about .content ul li {
	padding: 0 0 10px 30px;
	position: relative;
}

.about .content ul i {
	position: absolute;
	font-size: 20px;
	left: 0;
	top: -3px;
	color: var(--color-primary);
}

.about .content p:last-child {
	margin-bottom: 0;
}

.about .play-btn {
	width: 94px;
	height: 94px;
	background: radial-gradient(var(--color-primary) 50%, rgba(0, 131, 116, 0.4) 52%);
	border-radius: 50%;
	display: block;
	position: absolute;
	left: calc(50% - 47px);
	top: calc(50% - 47px);
	overflow: hidden;
}

.about .play-btn:before {
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation: pulsate-btn 2s;
	animation: pulsate-btn 2s;
	-webkit-animation-direction: forwards;
	animation-direction: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: steps;
	animation-timing-function: steps;
	opacity: 1;
	border-radius: 50%;
	border: 5px solid rgba(0, 131, 116, 0.7);
	top: -15%;
	left: -15%;
	background: rgba(198, 16, 0, 0);
}

.about .play-btn:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 100;
	transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn:hover:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 200;
	-webkit-animation: none;
	animation: none;
	border-radius: 0;
}

.about .play-btn:hover:after {
	border-left: 15px solid var(--color-primary);
	transform: scale(20);
}

@-webkit-keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

@keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}



.contactSection
{
	background-color: #ffbb00;
	color: #fff;
}

.contactButton
{
	color: #fff;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #fff;
	border-radius: 2px;

}

.contactButton:hover
{
	text-decoration: none;
	color: #000000;
	background-color: #fff;
}

.page-section {
	padding-top: 200px;
	background-color: #ffbb00;
	color: black;
}

.team-member {
	margin-bottom: 3rem;
	text-align: center;
}
.team-member img {
	width: 14rem;
	height: 14rem;
	border: 0.5rem solid rgb(0, 0, 0);
}
.team-member h4, .team-member .h4 {
	margin-top: 1.5rem;
	margin-bottom: 0;
}

.img-brand {
	height: 2.75rem;
}

.page-section {
	padding: 8rem 0;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-container {
	background-color: var(--color-primary);
	height: 100%;
	padding: 20px;
	border-radius: 10px 0 0 10px;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.contact .info-item {
	width: 100%;
	background-color: #009282;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 10px;
	color: #fff;
}

.contact .info-item:last-child {
	margin-bottom: 0;
}

.contact .info-item i {
	font-size: 20px;
	color: #fff;
	float: left;
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	margin-right: 15px;
}

.contact .info-item h4 {
	padding: 0;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

.contact .info-item p {
	padding: 0;
	margin-bottom: 0;
	font-size: 14px;
}

.contact .info-item:hover i {
	background: #fff;
	color: var(--color-primary);
}

.contact .php-email-form {
	width: 100%;
	height: 100%;
	background: #fff;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
	padding: 30px;
	border-radius: 0 10px 10px 0;
}

.contact .php-email-form .form-group {
	padding-bottom: 8px;
}

.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #df1529;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .error-message br+br {
	margin-top: 25px;
}

.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #059652;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}

.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #059652;
	border-top-color: #fff;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
	padding: 12px 15px;
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
	border-color: var(--color-primary);
}

.contact .php-email-form textarea {
	padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
	background: var(--color-primary);
	border: 0;
	padding: 14px 45px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
	background: rgb(0, 0, 0);
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


.filter a
{
	color: #000000;
	border: 1px solid #000000;
	padding: 10px 18px;
	display: block;
}

.filter li
{
	display: inline-block;
	padding: 5px;
}

.filter .current
{
	background-color: #000000;
	border-color: #000000;
	color: #fff;
}

.filter
{
	text-align: center;
	width: 100%;
}

.aboutSection .heading
{
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.items li
{
	display: inline-block;
	padding: 5px;
}

.itemsContainer
{
	width: 100%;
}

.items li img
{
	width: 100%;

 -webkit-transition: all 0.2s linear, 1s;
 -moz-transition: all 0.2s linear, 1s;
 -o-transition: all 0.2s linear, 1s;
 -ms-transition: all 0.2s linear, 1s;
 -transition: all 0.2s linear, 1s;
}

.items .item
{
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons
{
	position: absolute;
	width: 90px;
	height: 40px;
	left: 50%;
	top: 50%;
	margin: -20px auto 0 -47px;
	text-align: center;
	z-index:3;
}

.items .icons i
{
	color: #fff;
	font-size: 20px;
	margin-top: 9px;
}

.items a
{
	width: 40px;
	height: 40px;
	background-color:#000000 ;
	position: relative;
	display: inline-block;


 -webkit-transition: all 0.2s linear, 0.2s;
 -moz-transition: all 0.2s linear, 0.2s;
 -o-transition: all 0.2s linear, 0.2s;
 -ms-transition: all 0.2s linear, 0.2s;
 -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay
{
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
position: absolute;
left: 0px;
top: 0px;
opacity: 0;

 -webkit-transition: all 0.2s linear, 1s;
 -moz-transition: all 0.2s linear, 1s;
 -o-transition: all 0.2s linear, 1s;
 -ms-transition: all 0.2s linear, 1s;
 -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay
{
	opacity: 1;
}

.items .openButton
{
  float: left;
  left: -200px;
}

.items .projectLink
{
 float: right;
 right: -200px;
}

.items .item:hover .openButton
{
  left: 0px;
}

.items .item:hover .projectLink
{
	right: 0px;
}

.items .item:hover img
{
-webkit-transform: scale(1.05,1.05);
 -moz-transform: scale(1.05,1.05);
 -o-transform: scale(1.05,1.05);
 -ms-transform: scale(1.05,1.05);
 -transform: scale(1.05,1.05);
}

.items
{
	padding: 0px;
}

.copyrightSection
{
	background-color: #000;
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p
{
	margin: 0;
}

#navigation
{
	background-color: #000000;
	padding: 20px 10px;
	z-index: 100;
	width: 100%;

}

#navigation li
{
	padding: 0 10px;
}

#navigation li a
{
	color: #ffbb00;
}

.navbar-brand,
.navbar-brand:hover
{
	color: #fff;
}

.navbar-toggler-icon
{
	background: url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation
{
	position: fixed;
	top: 0;
}


